@model IEnumerable<Domain.Dossier>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>
<form asp-action="Index">
    <input name="search" placeholder="search"  />
    <input type="submit"  value="submit"/>
</form>
<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Frais)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Clos)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Client)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Avocat)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Frais)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Clos)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Client.CIN)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Avocat.Nom)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                <a asp-action="Details" asp-controller="Avocat"  asp-route-id="@item.Avocat.AvocatId"> Avocat </a>|
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
            </td>
        </tr>
}
    </tbody>
</table>
